{{ extend 'layout.html' }}

{{ block css }}
<style type="text/css">
table, th, td
{
    padding-top:10px;
}
</style>
{{ end #css }}

{{ block onReady }}
{{ end #onReady }}

{{
    page = request.args(0)
    
    if page == "login":
        title = "Sign in"
        subtitle = "Enter"
    elif page == "profile":
        title = "User Settings"
        subtitle = "Change "
    else:
        title = T(page.replace('_',' ').capitalize())
        subtitle = ""
    pass
}}
{{ block content }}
    <h1>{{=title}}</h1>
    <h3></h3>
    <div align="center">
        {{=form}}
        <div style="margin-left:-150px; padding-top:20px">
            {{ if page == "login": }}
                <table>
                    <tr>
                        <td><a href='{{=URL('default', 'user', args=['register'])}}'>Do not have an account?</a></td>
                    </tr>
                </table>
            {{ elif page == "profile": }}
            {{ pass }}
        </div>
    </div>
{{ end #content }}
